body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: lightgray;
  background-image: url(background.jpg);
}
.full-page-container {
  display: flex;
  flex-direction: column;
  border: 4px red dashed;
  height: 100%;
}

.main-title {
  display: flex;
  border: 2px green dashed;
  text-align: center;
  justify-content: center;
  color: lightgray;
}
.main-container {
  display: flex;
  flex-direction: row;
  border: 2px blue dashed;
  height: 100%;
}

.left {
  width: 20%;
  border: 3px yellow solid;
}

.center {
  display: flex;
  width: 60%;
  border: 2px pink dashed;
  height: 100%;
}
.right {
  display: flex;
  width: 20%;
  border: 2px rgb(9, 255, 0) solid;
}

.slot-machine {
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  flex-direction: column;
  border: 2px white solid;
}
.handle-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px orange dashed;
}
.handle {
  border: 5px magenta dashed;
  width: 50%;
  height: 40%;
  margin-top: 45%;
}

.top-center-slot-container {
  flex-direction: row;
  justify-content: center;
  border: 1px teal dashed;
  height: 25%;
}
.top-center-slot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0 10px #303030;
  outline: dotted 5px white;
  margin: 0 20%;
  background-color: rgb(111, 0, 0);
  text-align: center;
  align-items: center;
  height: 96%;
}
.upper-center-slot-container {
  flex-direction: row;
  border: 1px aquamarine dashed;
  height: 41%;
}
.upper-center-slot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 10px #303030 solid;
  margin: 0 17%;
  text-align: center;
  align-items: center;
  height: 90%;
}
.lower-center-slot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px teal dashed;
  height: 16%;
}
.lower-center-slot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 10px #303030 solid;
  margin: 0 0 0 14%;
  text-align: center;
  align-items: center;
  background-color: rgb(111, 0, 0);
  height: 90%;
}
.left-button {
  display: flex;
  border: 2px #303030 solid;
  width: 10%;
  height: 40%;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 6pt;
}
.right-button {
  float: right;
  display: flex;
  border: 2px #303030 solid;
  width: 10%;
  height: 40%;
  margin: 0 10px 0 40px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 6pt;
}
.bottom-center-slot-container {
  flex-direction: row;
  justify-content: center;
  border: 1px aquamarine dashed;
  height: 16%;
}
.bottom-center-slot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 10px #303030 solid;
  background-color: #000000;
  margin: 0 20%;
  text-align: center;
  align-items: center;
  height: 85%;
}

.center-screen-cage {
  display: flex;
  justify-content: center;
  border: grey 8px solid;
  width: 90%;
  height: 73%;
}

.center-screen-cover {
  box-shadow: 0 0 0 6px red;
  outline: black 6px dashed;
  width: 96%;
  height: 93%;
  margin-top: 6px;
}
.center-screen {
  border: gray 4px solid;
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 94%;
}

.center-screen-component {
  display: flex;
  width: 33%;
  height: 100%;
  border: white 1px solid;
  align-items: center;
  justify-content: center;
  font-size: 48pt;
}

.handle-joint {
  float: right;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 14%;
  border: brown 4px solid;
  background-color: gray;
  margin: auto;
}
